.portAboutContainer{
    margin-top: 2%;
    padding: 3% 10%;
    display: flex;
    justify-content: space-between;
}
.portAboutContainer> div{
    width: 31%;
}
.portAboutContainer> div> h3{
    margin-bottom: 1rem;
}


/* .portfoliodetWrapper{
    padding: 2% 10%;
}
.portImaWrp{
    margin: 5rem 0;
    display: flex;
    width: 100%;
    aspect-ratio: 1/0.5;
}
.portImage{
    width: 100%;
    height: 100%;
}
.portImage1{
    width: 50%;
    height: 100%;
}
.portfoliodetWrapper> p{
    padding: 0 5%;
    margin: 1rem 0;
}
.portfoliodetWrapper> h2{
    margin: 5rem 0 1rem 0;
    padding: 0 5%;
} */
.switchWrp{
    width: 30%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.switch{
    width: 10rem;
    height: 10rem;
    text-align: center;
    padding: 4rem 0;
    border-radius: 50%;
    border: .1rem solid var(--gray);
    cursor: pointer;
}
.left{
    transform: scale(2) rotate(180deg);
}
.right{
    transform: scale(2);
}

/* .........Media Queries........... */

@media screen and (max-width: 960px){
    .switchWrp{
        width: 100%;
    }
}

@media screen and (max-width: 433px){
    .portAboutContainer{
        flex-wrap: wrap;
    }
    .portAboutContainer> div{
        width: 100%;
        margin-bottom: 2.5rem;
    }
}
@media screen and (max-width: 274px){
    .switchWrp{
        width: 100%;
        flex-wrap: wrap;
    }
}