.fromideaContainer{
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}
.fromideaTextWrapper{
    width: 47%;
    padding: 5% 0;
}
.ideaWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.idea{
    width: 45%; 
}
.idea> div{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.green{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--lightgreen);
}
.idea> div> :last-child{
    width: fit-content;
}
.orange{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--orange);
}
.fromideaImageWrapper{
    width: 47%;
    aspect-ratio: 1/0.8;
}
.fromideaImage{
    width: 100%;
    height: 100%;
}
.stars{
    color: var(--lightgreen);
}

/* ........Service Details........... */

.servicedetailWrapper{
    margin-top: 7%;
}
.servicedetail{
    display: flex;
    padding: 3% 10%;
    justify-content: space-between;
}
.imageSide{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.servicedetailImgWrp{
    width: 45%;
    aspect-ratio: 1/1.2; 
}
.servicedetailImg{
    width: 90%;
    height: 80%;
    transform: rotate(10deg) translateY(-1rem);
}
.listWrapper{
    width: 45%;
}
.listWrapper> div{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.listWrapper> div> :first-child{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.green{
    background-color: var(--lightgreen);
}
.orange{
    background-color: var(--orange);
}
.listWrapper> div> :last-child{
    width: fit-content;
}
.textSide{
    width: 45%;
}
.textSide> h2, p{
    margin-bottom: 2rem;
}
.textSide> :last-child{
    width: 10%;
    border: .1rem solid var(--lightgreen);
}

/* ......Media Queries....... */

@media screen and (min-width: 1300px){
    .ideaWrapper{
        width: 50%;
    }
    .fromideaTextWrapper{
        padding: 8% 0;
    }
}

@media screen and (min-width: 1600px){
    .fromideaTextWrapper{
        padding: 10% 0;
    }
}

@media screen and (max-width: 990px){
    .listWrapper{
        width: 35%;
    }
    .servicedetailImgWrp{
        width: 62%;
        aspect-ratio: 1/1.2;
    }
    .servicedetailImg{
        width: 80%;
        height: 60%;
    }
}

@media screen and (max-width: 916px){
    .fromideaTextWrapper{
        padding: 0;
    }
}

@media screen and (max-width: 824px){
    .fromideaContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .fromideaTextWrapper{
        width: 100%;
    }
    .fromideaImageWrapper{
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 801px){
    .servicedetail{
        flex-direction: column-reverse;
        padding: 2% 10%;
    }
    .listWrapper> div{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
        margin-bottom: 2rem; 
    }
    .listWrapper{
        width: 35%;
    }
    .servicedetailImgWrp{
        width: 40%;
        aspect-ratio: 1/1.4;
        
    }
    .servicedetailImg{
        width: 100%;
        height: 80%;
    }
    .imageSide{
        width: 100%;
        justify-content: space-between;
    }
    .textSide{
        width: 100%;
        margin-bottom: 10rem;
    }
}

@media screen and (max-width: 303px){
    .imageSide{
        flex-wrap: wrap;
    }
    .servicedetailImgWrp{
        width: 100%;
        aspect-ratio: 1/1.1;
        
    }
    .listWrapper{
        width: 100%;
    }
    .servicedetailImg{
        width: 100%;
        height: 100%;
    }
}